.contentItem {
    height: 0px;
    overflow-y: hidden;
    margin-left: 20px;
    transition: 0.3s;
    font-size: 1.8rem;
}

.titleLog {
    padding: 15px;
    border-radius: 7.5px;
    color: #2c2c2c;
    font-size: 2rem;
}

.logItem:nth-child(odd) .titleLog {
    background-color: #cbe9fd;
}

.logItem:nth-child(even) .titleLog {
    background-color: #dfe1e2;
}

.displayedLog {
    height: 350px;
    padding-top: 20px !important;
}

.itemListStatus {
    right: 15px;
}